html,
body {
	background-color: #333333;
	color: #eeeeee;
	font: 16px Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center; 
	margin: 0;
	padding: 0;
	min-height: 100%;
	width: 100%;
}

legend {
	text-align: center;
}

button[data-area] {
	margin: 5px 17%;
	width: 66%;
}

.carousel {
	padding: 16px;
	width: 400px;
}

.carousel-control-prev,
.carousel-control-next {
	width: 25%;
}

.container {
	padding: 16px 32px;
}