html,
body {
	background-color: #333333;
	color: #eeeeee;
	font: 16px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.container {
	border: 1px solid #eeeeee;
	border-radius: 24px;
	margin: 10px;	
	padding: 16px;
	width: 333px;
}

button {
	margin: 5px 0;
	width: 100%;
}

button:last-child {
	margin-bottom: 0;
}